// Base
@import 'base/variables';
@import 'base/colors';
@import 'base/mixins';
@import 'base/reset';
@import 'base/header';
@import 'base/chatbox';
@import 'base/sidebar';

html,
body,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
  margin: 0;
}
